div,li,ul,dl,dt,dd{margin: 0;padding: 0;}
li{list-style: none;}
img{width: 190px;height:160px;transform: scale(0.8);}
#food #close{width: 199px;height: 200px;position: absolute; left: 192px;top: 206px;background: rgba(0, 0, 0, 0.4);z-index: 9;display: none;}



#food{width: 600px;height: 600px;position: relative;}
#food ul li{width: 190px;height: 200px;float: left;border: 2px solid #000;}
#food ul li dl dd{text-align: center;height: 30px;font-size: 14px/30px '微软雅黑';}
#food ul li.nine{position: absolute;left: 194px;top: 204px;}
#food ul li.n4{position: absolute;left: 388px;top: 204px;}
#food ul li.n5{position: absolute;left: 388px;top: 408px;}
#food ul li.n6{position: absolute;left: 194px;top: 408px;}
#food ul li.n7{position: absolute;left: 0px;top: 408px;}
#food ul li.n8{position: absolute;left: 0px;top: 204px;}





